{% extends 'base.html.twig' %}

{% block title %}KittyLand{% endblock %}

{% block body %}

<header class="navbar">
    <div class="logo">🎀</div>

    <div class="search-box">
        <span class="search-icon">🔍</span>
        <input class="search" type="text" placeholder="Recherche...">
    </div>

    <nav class="menu">
        <a href="#">Accueil</a>
        <a href="#">Gallerie</a>
        <a href="#">Billetterie</a>
        <a href="#">KittyClub</a>
        <a class="btn pink">Connexion</a>
        <a class="btn dark">Inscription</a>
    </nav>
</header>

<section class="filters">
    <button class="active">✔ Tout</button>
    <button>Piscine</button>
    <button>Hotel</button>
    <button>Parc d'attraction</button>
</section>

<section class="cards">

    <div class="card">
        <img src="{{ asset('images/img1.jpg') }}">
        <div class="card-content">
            <h3>Plage de KittyLand</h3>
            <p>5€</p>
        </div>
    </div>

    <div class="card">
        <img src="{{ asset('images/img2.jpg') }}">
        <div class="card-content">
            <h3>Réception de l'hôtel</h3>
            <p>5€</p>
        </div>
    </div>

    <div class="card">
        <img src="{{ asset('images/img3.jpg') }}">
        <div class="card-content">
            <h3>Chambre VIP de Kitty</h3>
            <p>15€</p>
        </div>
    </div>

    <div class="card">
        <img src="{{ asset('images/img4.jpg') }}">
        <div class="card-content">
            <h3>Petit cocktail</h3>
            <p>20€</p>
        </div>
    </div>

    <div class="card big">
        <img src="{{ asset('images/img5.jpg') }}">
        <div class="card-content">
            <h3>Hotel & piscine kitty</h3>
            <p>150€</p>
        </div>
    </div>

    <div class="card big">
        <img src="{{ asset('images/img6.jpg') }}">
        <div class="card-content">
            <h3>Restaurant & vue sur l’hôtel</h3>
            <p>100€</p>
        </div>
    </div>

</section>

<section class="reviews">

    <div class="review-card">
        <div class="avatar">L</div>
        <h4>Lea Herden</h4>
        <div class="stars">⭐⭐⭐⭐⭐</div>
    </div>

    <div class="review-card">
        <div class="avatar">E</div>
        <h4>Emily Dupont</h4>
        <div class="stars">⭐⭐⭐⭐</div>
    </div>

    <div class="review-card">
        <div class="avatar">A</div>
        <h4>Alice Unicorn</h4>
        <div class="stars">⭐⭐⭐⭐⭐</div>
    </div>

</section>

<footer>
    <p>📍 Ile de la pastel, 2942 | 📞 01 82 12 05 16</p>
    <div class="links">
        <a href="#">Mentions Légales</a>
        <a href="#">Conditions Générales</a>
        <a href="#">Aide & Service</a>
    </div>
</footer>

{% endblock %}